---
import { AdminManageOrders } from '../components/AdminManageOrders';
import { Heading } from '../components/Heading';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Manage Orders' description='Manage orders'>
  <div class='max-w-[1800px] mx-auto'>
    <Heading text='Manage Orders' variant='h1' textAlign='center' client:load />
    <AdminManageOrders client:load />
  </div>
</Layout>
