---
import { ViewTransitions } from 'astro:transitions';
import { Header } from './Header';
import Footer from './Footer.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div>
      <Header client:load />
      <div style={{ minHeight: 'calc(100vh - 130px)' }}>
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
